body {
	font-family: 'Quicksand', sans-serif;
}
h1 {
	font-family: 'Quicksand', sans-serif;
}

.title {

}

/* NavBar */
.navbar {
	border-bottom: solid 0.6rem #DE352E;
	margin: 0 0 4rem;
}

.navbar ul {
	list-style-type: none;
	margin: 0.2rem 2rem;
	text-align: center;
}

.navbar li {
	display: inline-block;
	text-align: center;
	margin: 0 1rem;
	padding: 1rem;
	min-width: 10%;
}
